<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Poke[]|\Cake\Collection\CollectionInterface $pokes
 */

date_default_timezone_set('Europe/Paris');//permet de mettre à l'heure actuel

?>
<head>
<style type="text/css">
.center{
    margin-left: 500px;
    margin-top:2%;
    position: relative;
}

.centertab{
    width: auto;
    height: auto;
    margin-right: -40%;
}

.paginator{
    margin-left: 400px;
}

</style>
</head>


<div class="btn-group" role="group" aria-label="Basic example">
<div class="center">
  <button type="button" class="btn btn-dark"><?= $this->Html->link(__('New Poke'), ['action' => 'add']) ?></button>
</div>
</div>



<div class="fights index large-9 medium-8 columns content">
    <h3>DRESSEURS POKEMONS</h3>

<div class=centertab>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Numéro Pokedex</th>
      <th scope="col">Created</th>
      <th scope="col">Modified</th>
      <th scope="col">Actions</th>
      <th scope="col">PV</th>
      <th scope="col">Attaque</th>
      <th scope="col">Defence</th>
    </tr>
  </thead>
  <?php foreach ($pokes as $poke): ?>


  <tbody> 
    <tr>
      <th scope="row"><?= $this->Number->format($poke->id) ?></th>
      <td><?= h($poke->name) ?></td>
      <td><?= $this->Number->format($poke->pokedex_number) ?></td>
      <td><?= h($poke->created) ?></td>
      <td><?= h($poke->modified) ?></td>
      <td><?= h($poke->health) ?></td>
      <td><?= h($poke->attack) ?></td>     
      <td><?= h($poke->defense) ?></td>           
      <td><?= $this->Html->link(__('View'), ['action' => 'view', $poke->id]) ?>
          <?= $this->Html->link(__('Edit'), ['action' => 'edit', $poke->id]) ?>
          <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $poke->id], ['confirm' => __('Are you sure you want to delete # {0}?', $poke->id)]) ?></td>

            <?php endforeach; ?>

    </tr>
  </tbody>
</table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
